<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp-nabobil.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6f194434-edf3-4a29-a792-cc1c29812365/resourcegroups/nabobil-rg/providers/Microsoft.Web/sites/FunctionApp-Nabobil</ResourceId>
    <UserName>$FunctionApp-Nabobil</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functionapp-nabobil.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>